@import "tailwindcss";

@layer utilities {
  /* Custom Glassmorphism Class */
  .bg-glass {
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.01) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

/* Set the dark background globally */
body {
  background-color: #020617; /* Slate 950 */
  color: #ffffff;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}